doctype html
html(lang="en")
    head
        title Don't Starve Cheatsheet
        link(rel='stylesheet', href='css/all.css')
body
    .header
        input(type='search' id='s' placeholder='Food, Weapons, Armor' autofocus)
        h1(id='logo') Don't Starve Cheatsheet

    .content
        ul#itemlist

            mixin item(name,id,fullArray,tier,tab)
                li.item
                    .top
                        .name
                            .icon(class=id)
                            span= name
                        .recipe
                            if fullArray
                                each item, i in fullArray
                                    .icon(class=item[0]+'_32')
                                    span x
                                        span= item[1]
                    .data.is-hidden
                        .prefab
                            p= id
                        p= tier
                        p= tab
                        if block
                            block
                    //- Durability, Health, Sanity, Hunger, id, water resistance, damage, perk, tab, tier
                    //- Structures:  Houndius Shootius, Sign, Potted Fern, Chest, Ornage Chest, Scaled Chest

            +item('Abigail\'s Flower','abigail_flower')
            +item('Alchemy Engine','researchlab2', [['boards',4],['cutstone',3],['transistor',2]])
            +item('Applied Horticulture','book_gardening', [['papyrus',2],['manure',1],['seeds',1]])
            +item('Ash','ash')
            +item('Axe','axe', [['flint',1],['twigs',1]])
            +item('Azure Feather','feather_robin_winter')
            +item('Backpack','backpack', [['cutgrass',4],['twigs',4]])
            +item('Bacon and Eggs','baconeggs')
            +item('Ball and Cup','trinket_7')
            +item('Basic Farm', 'slow_farmplot', [['cutgrass',8],['log',4],['manure',4]])
            +item('Bat Bat', 'batbat', [['batwing',5],['livinglog',2],['purplegem',1]])
            +item('Batilisk Wing', 'batwing')
            +item('Battle Helm','wathgrithrhat', [['rocks',2],['goldnugget',2]])
            +item('Battle Spear', 'spear_wathgrithr', [['flint',2],['twigs',2],['goldnugget',2]])
            +item('Beard Hair', 'beardhair')
            +item('Bed Roll', 'bedroll_straw', [['cutgrass',6],['rope',1]])
            +item('Bee','bee')
            +item('Bee Box', 'beebox', [['boards',2],['honeycomb',1],['bee',4]])
            +item('Bee Mine', 'beemine', [['boards',1],['bee',4],['flint',1]])
            +item('Beefalo Hat', 'beefalohat', [['beefalowool',8],['horn',1]])
            +item('Beefalo Horn', 'horn')
            +item('Beefalo Wool', 'beefalowool')
            +item('Beekeeper Hat', 'beehat', [['rope',1],['silk',8]])
            +item('Belt of Hunger', 'armorslurper', [['nightmarefuel',1],['rope',2],['slurper_pelt',6]])
            +item('Berries', 'berries')
            +item('Berry Bush', 'dug_berrybush')
            +item('Birchnut', 'acorn')
            +item('Bird Trap', 'birdtrap', [['silk',4],['twigs',3]])
            +item('Birdcage ', 'birdcage', [['goldnugget',6],['papyrus',2],['seeds',2]])
            +item('Birds of the World','book_birds',[['papyrus',2],['bird_egg',1]])
            +item('Blow Dart', 'blowdart_pipe', [['cutreeds',2],['houndstooth',1],['feather_robin_winter',1]])
            +item('Blue Cap', 'blue_cap')
            +item('Blue Gem', 'bluegem')
            +item('Blueprint', 'prefab_blueprint')
            +item('Boards', 'boards', [['log',4]])
            +item('Bone Shards', 'boneshard')
            +item('Boomerang', 'boomerang', [['boards',1],['charcoal',1],['silk',1]])
            +item('Box Thing', 'teleportato_box')
            +item('Breezy Vest', 'trunkvest_summer', [['silk',8],['trunk_summer',1]])
            +item('Broken Shell', 'slurtle_shellpieces')
            +item('Bucket-o-poop', 'fertilizer', [['boneshard',2],['log',4],['manure',3]])
            +item('Bug Net', 'bugnet', [['rope',1],['silk',2],['twigs',2]])
            +item('Bunny Puff', 'manrabbit_tail')
            +item('Bush Hat', 'bushhat', [['dug_berrybush',1],['rope',1],['strawhat',1]])
            +item('Butter Muffin', 'butterflymuffin', [['butterfly',1]])
            +item('Butter', 'butter')
            +item('Butterfly', 'butterfly')
            +item('Butterfly Wings', 'butterflywings')
            +item('Cactus Flesh', 'cactus_meat')
            +item('Cactus Flower', 'cactus_flower')
            +item('Campfire', 'campfire', [['cutgrass',3],['log',2]])
            +item('Carpeted Flooring', 'turf_carpetfloor', [['boards',1],['beefalowool',1]])
            +item('Carrot', 'carrot')
            +item('Cat Cap', 'catcoonhat', [['coontail',4],['silk',4]])
            +item('Cat Tail', 'coontail')
            +item('Cave Banana', 'cave_banana')
            +item('Cave Rock Turf', 'turf_underrock')
            +item('Charcoal', 'charcoal')
            +item('Checkerboard Flooring', 'turf_checkerfloor', [['marble',1]])
            +item('Chest', 'treasurechest', [['boards',3]])
            +item('Chilled Amulet', 'blueamulet', [['bluegem',1],['goldnugget',3]])
            +item('Cobblestones', 'turf_road', [['boards',1],['turf_rocky',1]])
            +item('Codex Umbra', 'waxwelljournal')
            +item('Compass', 'compass', [['goldnugget',1],['papyrus',1]])
            +item('Construction Amulet', 'greenamulet', [['greengem',1],['nightmarefuel',3],['thulecite',2]])
            +item('Corn', 'corn')
            +item('Crank Thing', 'teleportato_crank')
            +item('Crimson Feather', 'feather_robin')
            +item('Crock Pot', 'cookpot', [['charcoal',6],['cutstone',3],['twigs',6]], 'food', 'researchlab')
            +item('Crow', 'crow')
            +item('Cut Grass', 'cutgrass')
            +item('Cut Reeds', 'cutreeds')
            +item('Cut Stone', 'cutstone', [['rocks',3]])
            +item('Dapper Vest', 'sweatervest', [['houndstooth',8],['silk',6]])
            +item('Dark Petals', 'petals_evil')
            +item('Dark Sword', 'nightsword', [['livinglog',1],['nightmarefuel',5]], 'magic', 'researchlab3')
            +item('Deciduous Turf', 'turf_deciduous')
            +item('Deconstruction Staff', 'greenstaff', [['greengem',2],['livinglog',2],['nightmarefuel',4]], 'ancient', 'ancient_altar')
            +item('Deerclops Eyeball', 'deerclops_eyeball')
            +item('Divining Rod', 'diviningrod', [['gears',1],['nightmarefuel',4],['twigs',1]], 'science', 'researchlab2')
            +item('Down Feather', 'goose_feather')
            +item('Dragon Fruit', 'dragonfruit')
            +item('Dragonpie', 'dragonpie', [['dragonfruit',1],['twigs',3]], 'cookpot')
            +item('Drumstick', 'drumstick')
            +item('Drying Rack', 'meatrack', [['charcoal',2],['rope',3],['twigs',3]], 'food', 'researchlab')
            +item('Durian', 'durian')
            +item('Eel', 'eel')
            +item('Eggplant', 'eggplant')
            +item('Egg', 'bird_egg')
            +item('Electric Milk', 'goatmilk')
            +item('Electrical Doodad', 'transistor', [['cutstone',1],['goldnugget',2]])
            +item('Eye Bone', 'chester_eyebone')
            +item('Eyebrella', 'eyebrellahat', [['boneshard',4],['deerclops_eyeball',1],['twigs',15]], 'dress', 'researchlab2')
            +item('Fake Kazoo', 'trinket_2')
            +item('Fashion Melon', 'watermelonhat', [['twigs',3],['watermelon',1]], 'dress', 'researchlab2')
            +item('Feather Hat', 'featherhat', [['feather_crow',3],['feather_robin',2],['tentaclespots',2]], 'dress', 'researchlab2')
            +item('Fire Dart', 'blowdart_fire', [['cutreeds',2],['charcoal',1],['feather_robin',1]])
            +item('Fire Pit', 'firepit', [['log',2],['rocks',12]])
            +item('Fire Staff', 'firestaff', [['nightmarefuel',2],['redgem',1],['spear',1]], 'magic', 'researchlab4')
            +item('Fireflies', 'fireflies')
            +item('Fish', 'fish')
            +item('Fish Tacos', 'fishtacos')
            +item('Fishing Rod', 'fishingrod', [['silk',2],['twigs',2]], 'survival', 'researchlab')
            +item('Fishsticks', 'fishsticks')
            +item('Fist Full of Jam', 'jammypreserves')
            +item('Fleshy Bulb', 'lureplantbulb')
            +item('Flint', 'flint')
            +item('Floral Shirt', 'hawaiianshirt', [['cactus_flower',5],['papyrus',3],['silk',3]], 'dress', 'researchlab')
            +item('Flower Salad', 'flowersalad', [['cactus_flower',1]], 'cookpot')
            +item('Foliage', 'foliage')
            +item('Football Helmet', 'footballhat', [['pigskin',1],['rope',1]], 'fight', 'researchlab2')
            +item('Forest Turf', 'turf_forest')
            +item('Frazzeled Wires', 'trinket_6')
            +item('Frog Legs', 'froglegs')
            +item('Froggle Bunwich', 'frogglebunwich')
            +item('Fruit Medley', 'fruitmedley')
            +item('Fungal Turf', 'turf_fungus')
            +item('Fur Roll', 'bedroll_furry', [['bedroll_straw',1],['manrabbit_tail',2]])
            +item('Garland', 'flowerhat', [['petals',12]], 'dress')
            +item('Gears', 'gears')
            +item('Glommer\'s Flower', 'glommerflower')
            +item('Glommer\'s Goop', 'glommerfuel')
            +item('Glommer\'s Wings', 'glommerwings')
            +item('Glow Berry', 'wormlight')
            +item('Gnome', 'trinket_4')
            +item('Gold Nugget', 'goldnugget')
            +item('Gord\'s Knot', 'trinket_3')
            +item('Grass Suit', 'armorgrass', [['cutgrass',10],['twigs',2]], 'fight')
            +item('Grass Tuft', 'dug_grass')
            +item('Grass Turf', 'turf_grass')
            +item('Green Cap', 'green_cap')
            +item('Green Gem', 'greengem')
            +item('Guacamole', 'guacamole', [['mole',1],['cactus_meat',1],['twigs',2]], 'cookpot')
            +item('Guano Turf', 'turf_cave')
            +item('Guano', 'guano')
            +item('Guardian\'s Horn', 'minotaurhorn')
            +item('Gunpowder', 'gunpowder', [['charcoal',1],['nitre',1],['rottenegg',1]], 'science', 'researchlab2')
            +item('Ham Bat', 'hambat', [['meat',2],['pigskin',1],['twigs',2]], 'fight', 'researchlab2')
            +item('Hay Wall', 'wall_hay_item', [['cutgrass',4],['twigs',2]], 'structures', 'researchlab')
            +item('Hammer', 'hammer', [['rocks',3],['rope',2],['twigs',3]], 'tools', 'researchlab')
            +item('Hardened Rubber Bung', 'trinket_8')
            +item('Healing Salve', 'healingsalve', [['ash',2],['rocks',1],['spidergland',1]], 'survival', 'researchlab')
            +item('Hibearnation Vest', 'beargervest', [['bearger_fur',1],['rope',2],['sweatervest',1]])
            +item('Honey', 'honey')
            +item('Honey Ham', 'honeyham',[],'cookpot')
            +item('Honey Nuggets', 'honeynuggets', [], 'cookpot')
            +item('Honey Poultice', 'bandage', [['honey',2],['papyrus',1]], 'survival', 'researchlab2')
            +item('Honeycomb', 'honeycomb')
            +item('Hound\'s Tooth', 'houndstooth')
            +item('Houndius Shootius', 'eyeturret_item', [['minotaurhorn',1],['deerclops_eyeball',],['thulecite',5]], 'ancient', 'ancient_altar')
            +item('Ice', 'ice')
            +item('Ice Box', 'icebox', [['boards',1],['gears',1],['goldnugget',2]], 'food', 'researchlab2')
            +item('Ice Cream', 'icecream', [], 'cookpot')
            +item('Ice Cube', 'icehat', [['ice',10],['rope',4],['transistor',2]], 'dress', 'researchlab2')
            +item('Ice Flingomatic', 'firesuppressor', [['gears',2],['ice',15],['transistor',2]], 'science', 'researchlab2')
            +item('Ice Staff', 'icestaff', [['bluegem',1],['spear',1]], 'magic', 'researchlab3')
            +item('Improved Farm', 'fast_farmplot', [['cutgrass',10],['manure',4],['rocks',4]])
            +item('Insulated Pack', 'icepack', [['bearger_fur',1],['gears',3],['transistor',3]], 'survival', 'researchlab2')
            +item('Jerky','meat_dried', [], 'meatrack')
            +item('Jet Feather','feather_crow')
            +item('Kabobs', 'kabobs', [], 'cookpot')
            +item('Koalefant Trunk', 'trunk_winter')
            +item('Krampus\' Sack', 'krampus_sack')
            +item('Lantern', 'lantern')
            +item('Lying Robot', 'trinket_11')
            +item('Leafy Meat','plantmeat')
            +item('Lichen', 'cutlichen')
            +item('Life Giving Amulet', 'amulet')
            +item('Light Bulb', 'lightbulb')
            +item('Lightning Rod', 'lightning_rod')
            +item('Living Log', 'livinglog')
            +item('Log', 'log')
            +item('Log Suit', 'armorwood')
            +item('Lucy the Axe','lucy')
            +item('Luxury Axe', 'goldenaxe', [['goldnugget',2],['twigs',4]], 'tools', 'researchlab2')
            +item('Luxury Fan', 'featherfan')
            +item('Magiluminescence', 'yellowamulet')
            +item('Mandrake', 'mandrake')
            +item('Mandrake Soup', 'mandrakesoup')
            +item('Manure', 'manure')
            +item('Marble', 'marble')
            +item('Marble Suit', 'armormarble')
            +item('Marsh Turf', 'turf_marsh')
            +item('Meat', 'smallmeat', [], 'meatrack')
            +item('Meat Effigy', 'resurrectionstatue')
            +item('Meatballs', 'meatballs', [], 'cookpot')
            +item('Meaty Stew', 'bonestew', [], 'cookpot')
            +item('Melty Marbles', 'trinket_1')
            +item('Melonsicle', 'watermelonicle', [['watermelon',1],['ice',1],['twigs',2]], 'cookpot')
            +item('Metal Potato Thing', 'teleportato_potato')
            +item('Miner Hat', 'minerhat', [['fireflies',1],['goldnugget',1],['strawhat',1]])
            +item('Mismatched Buttons', 'trinket_9')
            +item('Moggles', 'molehat', [['mole',2],['transistor',2],['wormlight',1]], 'survival', 'researchlab2')
            +item('Moleworm', 'mole')
            +item('Monster Jerky', 'monstermeat_dried', [], 'meatrack')
            +item('Monster Lasagna', 'monsterlasagna', [], 'cookpot')
            +item('Monster Meat', 'monstermeat')
            +item('Morning Star', 'nightstick', [['lightninggoathorn',1],['nitre',2],['transistor',2]], 'fight', 'researchlab2')
            +item('Morsel', 'cookedsmallmeat')
            +item('Mosquito', 'mosquito')
            +item('Mosquito Sack', 'mosquitosack')
            +item('Mud Turf', 'turf_mud')
            +item('Night Armour', 'armor_sanity', [['nightmarefuel',5],['papyrus',3]], 'magic', 'researchlab4')
            +item('Nightmare Amulet', 'purpleamulet', [['goldnugget',6],['nightmarefuel',4],['purplegem',2]], 'magic', 'researchlab4')
            +item('Nightmare Fuel', 'nightmarefuel', [['petals_evil',4]], 'refine', 'researchlab3')
            +item('Night Light', 'nightlight', [['goldnugget',8],['nightmarefuel',2],['redgem',1]], 'magic', 'researchlab3')
            +item('Nitre', 'nitre')
            +item('Old Bell', 'bell', [['glommerflower',1],['glommerwings',1]], 'magic', 'prefab_blueprint')
            +item('On Tentacles', 'book_tentacles', [['papyrus',2],['tentaclespots',1]])
            +item('One-man Band', 'onemanband', [['goldnugget',2],['nightmarefuel',4],['pigskin',2]], 'magic', 'researchlab4')
            +item('Opulent Pickaxe', 'goldenpickaxe', [['twigs',4],['goldnugget',2]], 'tools', 'researchlab2')
            +item('Orange Gem', 'orangegem')
            +item('Pan Flute', 'panflute', [['cutreeds',5],['mandrake',1],['rope',1]], 'magic', 'researchlab3')
            +item('Papyrus', 'papyrus', [['cutreeds',4]])
            +item('Petals', 'petals')
            +item('Pickaxe', 'pickaxe', [['twigs',2],['flint',2]], 'tools')
            +item('Pick/Axe', 'multitool_axe_pickaxe', [['goldenaxe',1],['goldenpickaxe',1],['thulecite',2]])
            +item('Pierogi', 'perogies', [], 'cookpot')
            +item('Pig Skin', 'pigskin')
            +item('Pile o\' Balloons', 'balloons_empty')
            +item('Pine Cone', 'pinecone')
            +item('Pig House', 'pighouse', [['boards',4],['cutstone',3],['pigskin',4]], 'structures', 'researchlab2')
            +item('Piggyback', 'piggyback', [['pigskin',4],['silk',6],['rope',1]], 'survival', 'researchlab2')
            +item('Pitchfork', 'pitchfork')
            +item('Pomegranate', 'pomegranate')
            +item('Potted Fern', 'pottedfern')
            +item('Powdercake', 'powcake')
            +item('Prestihatitator', 'researchlab4')
            +item('Pretty Parasol', 'grass_umbrella')
            +item('Puffy Vest', 'trunkvest_winter', [['beefalowool',2],['silk',8],['trunk_winter',1]])
            +item('Pumpkin Cookie', 'pumpkincookie')
            +item('Pumpkin Lantern', 'pumpkin_lantern')
            +item('Pumpkin', 'pumpkin')
            +item('Purple Gem', 'purplegem')
            +item('Rabbit', 'rabbit')
            +item('Rabbit Earmuff', 'earmuffshat')
            +item('Rabbit Hutch', 'rabbithouse', [['boards',4],['carrot',10],['manrabbit_tail',4]], 'structures', 'researchlab2')
            +item('Rain Coat', 'raincoat', [['boneshard',2],['rope',2],['tentaclespots',2]], 'dress', 'researchlab2')
            +item('Rain Hat', 'rainhat')
            +item('Rainometer', 'rainometer')
            +item('Ratatouille', 'ratatouille')
            +item('Razor', 'razor')
            +item('Red Cap', 'red_cap')
            +item('Red Gem', 'redgem')
            +item('Redbird', 'robin')
            +item('Regal Shovel', 'goldenshovel')
            +item('Ring Thing', 'teleportato_ring')
            +item('Rocks', 'rocks')
            +item('Rocky Turf', 'turf_rocky')
            +item('Rope', 'rope', [['cutgrass',3]])
            +item('Rot', 'spoiled_food')
            +item('Rotten Egg', 'rottenegg')
            +item('Sandy Turf', 'turf_desertdirt')
            +item('Sapling', 'sapling')
            +item('Savanna Turf', 'turf_savanna')
            +item('Scaled Chest', 'dragonflychest', [['boards',4],['goldnugget',10],['dragon_scales',1]], 'structures', 'researchlab2')
            +item('Scalemail', 'armordragonfly')
            +item('Scales', 'dragon_scales')
            +item('Science Machine', 'researchlab', [['armorwood',1],['pigskin',3],['dragon_scales',1]], 'fight', 'researchlab2')
            +item('Second-hand Dentures', 'trinket_10')
            +item('Seeds', 'seeds')
            +item('Sewing Kit', 'sewing_kit', [['houndstooth',2],['log',1],['silk',8]], 'dress', 'researchlab2')
            +item('Shelmet', 'slurtlehat')
            +item('Shadow Manipulator', 'researchlab3', [['livinglog',3],['nightmarefuel',7],['purplegem',1]], 'magic', 'researchlab4')
            +item('Shovel', 'shovel')
            +item('Siesta Lean-to', 'siestahut', [['boards',4],['rope',3],['silk',2]], 'survival', 'researchlab2')
            +item('Sign', 'homesign', [['boards',1]], 'structures', 'researchlab')
            +item('Silk', 'silk')
            +item('Sleep Dart', 'blowdart_sleep', [['cutreeds',2],['stinger',1],['feather_crow',1]])
            +item('Sleepytime Stories', 'book_sleep', [['papyrus',2],['nightmarefuel',2]])
            +item('Slimey Turf', 'turf_sinkhole')
            +item('Slurper', 'armor_slurper')
            +item('Slurper Pelt', 'slurper_pelt')
            +item('Slurtle Slime', 'slurtleslime')
            +item('Small Jerky', 'smallmeat_dried')
            +item('Snowbird', 'robin_winter')
            +item('Snurtle Shell Armor', 'armorsnurtleshell')
            +item('Spear', 'spear', [['flint',1],['twigs',2],['rope',1]])
            +item('Spicy Chili', 'hotchili')
            +item('Spider Eggs', 'spidereggsack')
            +item('Spider Gland', 'spidergland')
            +item('Spiderhat', 'spiderhat')
            +item('Spiky Bush', 'dug_marsh_bush')
            +item('Star Caller\'s Staff', 'yellowstaff')
            +item('Stinger', 'stinger')
            +item('Stone Wall', 'wall_stone_item', [['cutstone',2]])
            +item('Straw Hat', 'strawhat', [['cutgrass',12]])
            +item('Stuffed Eggplant', 'stuffedeggplant')
            +item('Summer Frest', 'reflectivevest')
            +item('Taffy', 'taffy', [], 'cookpot')
            +item('Tallbird Egg', 'tallbirdegg')
            +item('Tam o\' Shanter', 'walrushat')
            +item('Telelocator Staff', 'telestaff')
            +item('Tent', 'tent', [['rope',3],['silk',6],['twigs',4]])
            +item('Tentacle Spike', 'tentaclespike')
            +item('Tentacle Spots', 'tentaclespots')
            +item('The End is Nigh', 'book_brimstone', [['papyrus',2],['redgem',1]])
            +item('The Lazy Explorer', 'orangestaff')
            +item('The Lazy Forager', 'orangeamulet')
            +item('Thermal Measurer', 'winterometer')
            +item('Thermal Stone', 'heatrock')
            +item('Thick Fur', 'bearger_fur')
            +item('Thulecite', 'thulecite', [['thulecite_pieces',6]])
            +item('Thulecite Club', 'ruins_bat')
            +item('Thulecite Crown', 'ruinshat')
            +item('Thulecite Fragments', 'thulecite_pieces')
            +item('Thulecite Medallion', 'nightmare_timepiece')
            +item('Thulecite Suit', 'armorruins')
            +item('Thulecite Wall', 'wall_ruins_item')
            +item('Tiny Rocketship', 'trinket_5')
            +item('Tooth Trap', 'trap_teeth', [['houndstooth',1],['log',1],['rope',1]])
            +item('Top Hat', 'tophat', [['silk',8]], 'dress', 'researchlab2')
            +item('Torch', 'torch', [['cutgrass',2],['twigs',2]], 'light')
            +item('Trail Mix', 'trailmix', [], 'cookpot')
            +item('Trap', 'trap', [['cutgrass',6],['twigs',2]], 'survival')
            +item('Turkey Dinner', 'turkeydinner', [], 'cookpot')
            +item('Twigs', 'twigs')
            +item('Umbrella', 'umbrella')
            +item('Unagi', 'unagi')
            +item('Volt Goat Horn', 'lightninggoathorn')
            +item('Waffles', 'waffles')
            +item('Walking Cane', 'cane')
            +item('Walrus Tusk', 'walrus_tusk')
            +item('Watermelon', 'watermelon')
            +item('Weather Pain', 'staff_tornado')
            +item('Webber\'s Skull', 'webberskull')
            +item('Wet Goop', 'wetgoop')
            +item('Willow\'s Lighter', 'lighter')
            +item('Winter Hat', 'winterhat')
            +item('Wooden Flooring', 'turf_woodfloor')
            +item('Wooden Wall', 'wall_wood_item')
            +item('Yellow Gem', 'yellowgem')

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(type="text/javascript" src="js/all.js")

